<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <appSettings>
		<add key="db_aroma" value="Data Source=DESKTOP-MB73EIM;Initial Catalog=db_aroma;Persist Security Info=True;User ID=sa2;Password=sa2;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>